body {
    font-family: "inter", "regular", serif;
    font-size: 14px;
}

.dark {
    background-color: #232326;
    color: #F3F2F0;
}

svg.circle>circle {
    fill: #D40000;
}

svg.Polygon>path {
    fill: #fff;
}

.wrapper {
    width: 100%;
    width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.name {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 60px;
}

.h3-title {
    font-size: 16px;
    font-weight: 700;
}

.nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    padding-left: 16px;
    padding-right: 16px;
}

.nav-link {
    text-decoration: none;
    color: #F3F2F0;
}

body>div.dark>div.wrapper>header>ul>li {
    position: relative;
}

body>div.dark>div.wrapper>header>ul>li::before {
    content: "";
    display: block;
    width: 1px;
    height: 24px;
    background-color: #F3F2F0;
    position: absolute;
    left: 0;
    top: calc(50%-12px);
}

body>div.dark>div.wrapper>header>ul>li:first-child::before {
    display: none;
}

.nav-item:first-child {
    padding-left: 0;
}

.nav-item:last-child {
    padding-right: 0;
}

.nav-link:hover {
    color: #D40000;
}

.title-h1 {
    font-family: "Inter";
    text-transform: uppercase;
    font-weight: 700;
    font-size: 74px;
}

.photo {
    margin-bottom: 120px;
    width: 100%;
}

.social {
    margin-top: 100px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

.project {
    display: flex;
    margin: 0;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
}

.project-img {
    display: block;
    width: 16px;
    height: 12px;
    background-image: url(../img/icons/Arrow.svg);
    margin-left: 15px;
}

.skill {
    display: flex;
}

.skill-item {
    font: 0 0 23%;
}

.block2 {
    height: 560px;
    width: 1140px;
    margin: 0 auto;
}

.block2-item {
    margin-top: 100px;
    justify-content: space-between;
    display: flex;
}

.block2-h3 {
    width: 590px;
    font-size: 28px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}

.block2-skill {
    width: 560px;
    font-size: 28px;
    text-align: left;
}

svg.circle.circle-main {
    Width: 253px;
    height: 253px;
}

div:nth-child(2)>svg {
    width: 106px;
    height: 106px;
}